@model PI_lab2.Models.User

@{
    ViewBag.Title = "User Info";
}

<h2>User Info</h2>

<div>
    Email - @Model.Email
</div>
<div>
    FullName - @Model.FullName
</div>
<div>
    IsAdmin - @Model.IsAdmin
</div>
<div>
    Login - @Model.Login
</div>
